{% extends 'layout.html' %}
{% block content %}
<hr>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div class="wrapper cont">
        <h3 align="center">PageInsights Application</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                    </div>
                    <form  action="/results" method="get">
                        <div class="form-group">
                            <br>
                            <h6>Enter the url to be assessed</h6>
                            <br>
                            <input type="text" name="url" id="url" value="http://" class="form-control" required>
                        </div>
                        <div align="left">Sample url :<a href="http://biomotionlog.in">  http://biomotionlog.in</a></div>

                        <button class="btn btn-primary" type="submit">Submit</button>
                        <hr>

                    </form>

                    <br/>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock content %}
