{% extends 'layout.html' %}
{% block content %}
<hr>
<div align="center" class="baseinfo">
    <h3 align="center">BASE INFO</h3> 
    <caption>{{analyzedurl}}</caption>
    <br>
    Captcha status :  {{captcha}}<br>
    <small>Timestamp      :  {{timestamp}}</small>
    <br>
</div>
<hr>
<div align="center" class="lighthouseResult">
    <h3>URL INFO</h3> 
    Initial Url :&nbsp&nbsp&nbsp&nbsp<a href="{{lighthouseResult["requestedUrl"]}}">{{lighthouseResult["requestedUrl"]}}</a>
    <br>
    Final Url :&nbsp&nbsp&nbsp&nbsp<a href="{{lighthouseResult["finalUrl"]}}">{{lighthouseResult["finalUrl"]}}</a>
    <hr>
    <br>    
</div>


<hr>


{% endblock content %}
