{% extends 'layout.html' %}
{% block content %}
<hr>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #loading {
            display: none;
        }
    </style>
</head>
<body>
    <div class="wrapper cont">
        <h2 align="center" style="padding-top:5%;"><strong>PageInsights Application</strong></h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                    </div>
                    <form  action="/results" method="get">
                        <div class="form-group">
                            <br>
                            <h6 align="left">Enter the url to be assessed</h6>
                            
                            <input type="text" name="url" id="url" value="http://" class="form-control" required>
                        </div>
                        <div align="left">
                            Sample url :<a href="http://biomotionlog.in">  http://biomotionlog.in</a>
                        </div>
                        <br>
                        <button class="btn btn-primary" type="submit" onclick="document.getElementById('loading').style.display = 'block' ;">Submit</button>
                        <br>
                        <div id="loading"><img src="https://i.gifer.com/YCZH.gif" alt="Loading" style="width:400px;height:300px;"></div>
                        <hr>
                    </form>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock content %}
